<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;700&family=Poppins:ital,wght@1,200;1,300;1,400&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/media/style.css">
</head>
<body>

    <header class="header">

        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about.html">About me</a></li>
                <li><a href="blogg.html">Blogs</a></li>
                <li><a href="contacts.html">Contact</a></li>
            </ul>
        </nav>

    </header>


    <section>
        <div class="contact">
            <div class="contact-inf">
                <h2>Aram Hovhannisyan</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit quae facilis eos<br/> 
                    Officiis magnam, aut asperiores quae facilis eos? quae facilis eos<br/> 
                    amet consectetur adipisicing elit.amet consectetur adipisicing elit quae facilis eos.<br/> 
                    amet consectetur adipisicing elit.amet consectetur adipisicing elit quae facilis eos.<br/> 
                </p>
                <h3>contact@gmail.com</h3>            
            </div>

            <div class="contact-req">
                <form>
                    <div>
                        <label>Name</label>
                        <input type="text" class="name" placeholder="Submit name" tabindex="1">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" class="email" placeholder="Submit email" tabindex="2">
                    </div>
                    <label>Write your question:</label>
                    <div>
                        <textarea class="textarea" placeholder="Sumbit text" tabindex="3" rows="20" cols="60"></textarea>
                    </div>
                    <div>
                        <button type="submit" value="bt" tabindex="4">Send</button>
                        <button type="reset" value="bt" tabindex="5">Reset</button>
                    </div>
                </form>
            </div>
        </div> 
    </section>


    <footer class="footer">

        <div class="footer-links">

            <h3>Social Networks</h3>
            <ul>
              <li><a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a></li>
              <li><a href="#">
                <i class="fa-brands fa-telegram"></i>
              </a></li>
              <li><a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a></li>
            </ul>
          </div>
        </div>

    </footer>
</body>
</html>